{% extends "catalog/base.html" %}
{% block content %}
  {% if object %}
    <h1>Title: {{ object.title }}</h1>
    <p><strong>Author:</strong> <a href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></p>
    <p><strong>Summary:</strong> {{ object.summary }}</p>
    <p><strong>ISBN:</strong> {{ object.isbn }}</p>
    <p><strong>Genre:</strong> {{ object.genre.all|join:", " }}</p>
    <div style="max-width: 100%; margin-bottom: 20px;">
      {% if object.book_image %}
          <img src="{{ object.book_image.url }}" alt="{{ object.title }} Cover" class="img-fluid">
      {% endif %}
    </div>
    <div style="margin-left:20px;margin-top:20px">
      <h4>Copies</h4>
      {% if object.bookinstance_set.all %}
          {% for copy in object.bookinstance_set.all %}
              <hr>
              <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
                  {{ copy.get_status_display }}
              </p>
              {% if copy.status != 'a' %}
                  <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
              {% endif %}
              <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
              <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
          {% endfor %}
      {% else %}
          <p>No Copies Available</p>
      {% endif %}
    </div>
    <a href="{% url 'book_list' %}" class="btn btn-secondary">Back to Books</a>
  {% else %}
    <p>Book not found.</p>
  {% endif %}
{% endblock %}
